<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{rootpath}}assets/css/style.css">
    <title>{{title}} - {{site.title}}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">{{title}}</a></h1>
    </header>
    <main class="container">{{{contents}}}</main>
    <footer class="site-footer">
      <p class="text"><span>&copy;2017 ADG Foundation</span></p>
    </footer>
  </body>
</html>
